<mat-card>
    <mat-card-title>Alterar Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="newProduct.nome" name="nome">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Descrição" [(ngModel)]="newProduct.descricao" name="descricao">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Foto" [(ngModel)]="newProduct.endereco_foto" name="endereco_foto">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Valor_Pago" type="number" [(ngModel)]="newProduct.valor_pago" name="valor_pago">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" type="number" [(ngModel)]="newProduct.valor_venda" name="valor_venda">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Qtde" type="number" [(ngModel)]="newProduct.quantidade" name="quantidade">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Unidade" type="number" [(ngModel)]="newProduct.unidade_id" name="unidade_id">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Categoria" type="number" [(ngModel)]="newProduct.categoria_id" name="categoria_id">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="SubCategoria"  type="number" [(ngModel)]="newProduct.subcategoria_id" name="subcategoria_id">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="updateProduct()" id="buttonUpdate">
        Salvar
    </button>
    <button mat-raised-button (click)="cancel()" color="warn">
        Cancelar
    </button>
</mat-card>