<mat-card>
    <mat-card-title>Deletar Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="newProduct.nome" name="nome" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" [(ngModel)]="newProduct.valor_venda" name="valorvenda" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Qtde" [(ngModel)]="newProduct.quantidade" name="qtde" disabled>
        </mat-form-field>

    </form>
    <button mat-raised-button (click)="deleteProduct()" color="warn">
        Deletar
    </button>
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>

</mat-card>