.sidenav {
    background-color: rgb(170, 6, 20);
    width: 200px;
}

.sidenav a {
    color: #fcfdfd;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #FFF;
}